<nav class="main-nav">
    <NavLink href="" Match="NavLinkMatch.All">Огляд</NavLink>
    <NavLink href="transactions">Операції</NavLink>
    <NavLink href="accounts">Рахунки</NavLink>
    <NavLink href="budgets">Бюджети</NavLink>
    <NavLink href="statistics">Статистика</NavLink>
    <NavLink href="categories">Категорії</NavLink>
</nav>
